{% extends "base.html" %}

{% block title %}全ファイル一覧 - {{ super() }}{% endblock %}

{% block content %}
    <h1>全アカウントのファイル一覧</h1>

    {% if files %}
        <table>
            <thead>
                <tr>
                    <th>ファイル名</th>
                    <th>保存先アカウント</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td>{{ file.name }}</td>
                    <td>{{ file.account_name }}</td>
                    <td>
                        <a href="/download/{{ file.account_name }}/{{  file.file_id  }}" class="btn-download">
                            ダウンロード
                        </a>
                            <form action="/delete/{{ file.account_name }}/{{ file.file_id }}" method="post" style="display: inline;" onsubmit="return confirm('本当にこのファイルを削除しますか？');">
                            <button type="submit" class="btn-delete">削除</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>ファイルが見つかりませんでした。</p>
    {% endif %}
{% endblock %}