{% extends "base.html" %}

{% block title %}トップページ - {{ super() }}{% endblock %}

{% block content %}
    <h1>登録済みGoogleアカウント一覧</h1>

    <hr>
    <h2>ファイルをアップロード</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required multiple>
        <button type="submit">アップロード実行</button>
    </form>
    <hr>

    {% if accounts %}
        <table>
            <thead>
                <tr>
                    <th>アカウント名</th>
                    <th>空き容量</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.free_space }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>登録されているアカウントはありません。</p>
    {% endif %}
{% endblock %}